@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
img{
    width: 93vw;
    display: block;
}
div{
    background-color: red;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
p{
    color: white;
    text-align: center;
    margin: 0;
}